@charset "UTF-8";

@import "common/layout.css";

/*-------------------------------------------------------------------------
	Default
/*-----------------------------------------------------------------------*/
#information,
#starchecker,
#simpleboard,
#reportviewer {
	display:none;
}

h1 {
	cursor:pointer;
}

/*-------------------------------------------------------------------------
	Information
/*-----------------------------------------------------------------------*/
#information {
	position:fixed;
	left:10px;
	top:12px;
	padding:3px 10px;
	border:1px solid #ddd;
	background:#f2f6fa;
	color:#aaa;
	font-size:11px;
	cursor:pointer;
	z-index:1;
}

#information:hover {
	text-decoration:underline;
}

/*-------------------------------------------------------------------------
	Stared
/*-----------------------------------------------------------------------*/
#starchecker {
	position:fixed;
	right:20px;
	top:20px;
	z-index:1;
}

	#starchecker .button {
		display:block;
		width:18px;
		height:18px;
		border:1px solid #ddd;
		background:#fafafa;
		color:#ccc;
		font-size:8px;
		text-align:center;
		line-height:18px;
		cursor:default;
	}
	
	#starchecker.no-checked .button {
		border-color:#ef78cf;
		background-color:#ef78cf;
		color:#fff;
		cursor:pointer;
	}

	#starchecker ul {
		display:none;
		position:absolute;
		right:0;
		top:21px;
		width:400px;
		padding:10px;
		border:1px solid #ddd;
		background:#fafafa;
		cursor:default;
	}
	
		#starchecker ul li {
			margin-bottom:5px;
			color:#666;
			font-size:10px;
			text-align:left;
			cursor:pointer;
		}
		
		#starchecker ul li:last-child {
			margin-bottom:0;
		}
		
		#starchecker ul li:hover {
			text-decoration:underline;
		}
		
			#starchecker ul li a {
				display:block;
			}
					
/*-------------------------------------------------------------------------
	Simpleboard
/*-----------------------------------------------------------------------*/
#simpleboard {
	margin:0 auto 40px auto;
	padding:9px;
	border:1px solid #ddd;
	background:#fff;
}

	#simpleboard .article {
		display:block;
		min-height:18px;
		padding:5px 10px;
		border:1px solid #ddd;
		border-radius:3px;
		background:#fff;
	}
	
	#simpleboard .article.newentry {
		height:18px;
		margin-bottom:9px;
		background:#fafafa;
	}
	
		#simpleboard .article.newentry textarea {
			width:100%;
			height:100%;
			padding:0;
			border:none;
			font-size:12px;
			line-height:1.5;
		}

	#simpleboard .entries {
		padding:9px;
		padding-bottom:0;
		border:1px solid #ddd;
		background:#f2f6fa;
	}
	
		#simpleboard .entries .entry {
			margin-bottom:9px;
		}
			
			#simpleboard .entries .entry .article {
				position:relative;
				padding:10px;
			}
			
			#simpleboard .entries .entry .article.important {
				background-color:#fff5f5;
			}
			
				#simpleboard .entries .entry .article .checkbox,
				#simpleboard .entries .entry .article .name,
				#simpleboard .entries .entry .article .text {
					float:left;
				}
			
				#simpleboard .entries .entry .article .checkbox {
					height:24px;
					margin-right:10px;
				}
			
				#simpleboard .entries .entry .article .name {
					margin-right:20px;
					padding:2px 10px;
					background:#333;
					color:#fff;
					font-weight:normal;
				}
				
				#simpleboard .entries .entry .article .name.Edit {
					background-color:#e23333;
				}
				
				#simpleboard .entries .entry .article .name.Design {
					background-color:#e96c10;
				}
				
				#simpleboard .entries .entry .article .name.DTP {
					background-color:#48ba42;
				}
				
				#simpleboard .entries .entry .article .name.Web {
					background-color:#278cd9;
				}
				
				#simpleboard .entries .entry .article .name.Manager {
					background-color:#009;
				}
				
				#simpleboard .entries .entry .article .name.Store {
					background-color:#edb712;
				}
				
				#simpleboard .entries .entry .article .name.Sales {
					background-color:#895ded;
				}
				
				#simpleboard .entries .entry .article .text  {
					margin-right:20px;
					padding:2px 0;
				}
				
					#simpleboard .entries .entry .article .text a {
						color:#615de7;
					}
					
					#simpleboard .entries .entry .article .text  a:hover {
						color:#9391f0;
					}
				
				#simpleboard .entries .entry .article .delete,
				#simpleboard .entries .entry .article .check {
					position:absolute;
				}
				
				#simpleboard .entries .entry .article .delete {
					display:none;
					right:2px;
					top:2px;
					width:14px;
					height:14px;
					border:none;
					background:#8cae86;
					color:#fff;
					font-size:8px;
					text-align:center;
					line-height:14px;
				}
				
				#simpleboard .entries .entry .article .delete:hover {
					background-color:#a3c09d;
				}
				
				#simpleboard .entries .entry.self .article .delete {
					display:block;
				}
				
				#simpleboard .entries .entry .article .check {
					right:4px;
					bottom:2px;
					color:#aaa;
					font-size:8px;
				}
				
					#simpleboard .entries .entry .article .check i {
						float:none;
						width:auto;
						margin:0;
						padding:0 2px;
						font-weight:bold;
						font-style:normal
					}
					
/*-------------------------------------------------------------------------
	Reportviewer HEader
/*-----------------------------------------------------------------------*/
#reportviewer {
}
				
	#reportviewer-header {
		margin-bottom:30px;
	}
	
		#reportviewer-header .navi ul {
			float:left;
			margin-right:30px;
		}
	
			#reportviewer-header .navi ul li,
			#reportviewer-header .navi p {
				float:left;
				margin:0 10px 10px 0;
				cursor:pointer;
			}
			
				#reportviewer-header .navi a {
					display:block;
					padding:5px 19px;
					border:2px solid #ddd;
					background:#fff;
				}
			
				#reportviewer-header .navi a:hover {
					background-color:#f2f6fa;
				}
				
				#reportviewer-header .navi a.active {
					padding:6px 20px;
					border-width:1px;
					background:#eee;
				}
				
		#reportviewer-header .navi p {
			margin-right:30px;
		}
					
/*-------------------------------------------------------------------------
	Sort Navi
/*-----------------------------------------------------------------------*/
#sort-navi {
	float:left;
}

	#sort-navi ul {
	}

		#sort-navi ul li {
			display:inline;
			float:left;
			margin-right:10px;
			cursor:pointer;
		}
		
			#sort-navi ul li button {
				display:block;
				padding:6px 20px;
				border:1px solid #ddd;
				background:#fff;
				font-size:12px;
				line-height:1;
			}
			
			#sort-navi ul li button:hover {
				background-color:#f2f6fa;
			}
			
			#sort-navi ul li button.active {
				border-color:#888;
				background-color:#888;
				color:#fff;
				cursor:default;
			}
			
/*-------------------------------------------------------------------------
	Search Navi
/*-----------------------------------------------------------------------*/
#search-navi {
	position:relative;
	float:right;
	margin-right:0;
}

	#search-navi input {
		height:24px;
		font-size:12px;
		color:#333;
		line-height:24px;
	}
	
	#search-navi .clear {
		position:absolute;
		right:2px;
		top:2px;
		display:block;
		width:14px;
		height:14px;
		border:none;
		background:#8cae86;
		color:#fff;
		font-size:8px;
		text-align:center;
		line-height:14px;
	}
	
	#search-navi .clear:hover {
		background-color:#a3c09d;
	}
				
/*-------------------------------------------------------------------------
	Reportviewer Content
/*-----------------------------------------------------------------------*/
#reportviewer-content {
	margin-right:-10px;
}

	#reportviewer-content .report {
		float:left;
		position:relative;
		width:298px;
		height:420px;
		margin:0 10px 10px 0;
		padding:10px 10px 36px 10px;
		border:1px solid #ddd;
		background:#fff url(../img/loading.gif) no-repeat center center;
	}
	
	#reportviewer-content.new .report.archived {
		display:none;
	}
	
		#reportviewer-content .report article {
			background:#fff;
		}
		
		#reportviewer-content .report.updating article {
			pointer-events:none;
		}
	
		#reportviewer-content .report input,
		#reportviewer-content .report textarea {
			color:#333;
		}
		
		#reportviewer-content .report .tasks,
		#reportviewer-content .report .note {
			overflow-y:auto;
			margin-bottom:10px;
		}
		
		#reportviewer-content .report a.search {
			color:inherit;
			cursor:pointer;
		}
		
		#reportviewer-content .report a.search:hover {
			text-decoration:underline;
		}

/*-------------------------------------------------------------------------
	Report Header
/*-----------------------------------------------------------------------*/
#reportviewer-content .report .header {
	position:relative;
}

	#reportviewer-content .report .header .name {
		display:inline-block;
		float:left;
		margin-bottom:10px;
		padding:2px 10px;
		background:#333;
		color:#fff;
	}
	
	#reportviewer-content .report.Edit .header .name {
		background-color:#e23333;
	}
	
	#reportviewer-content .report.Design .header .name {
		background-color:#e96c10;
	}
	
	#reportviewer-content .report.DTP .header .name {
		background-color:#48ba42;
	}
	
	#reportviewer-content .report.Web .header .name {
		background-color:#278cd9;
	}
	
	#reportviewer-content .report.Manager .header .name {
		background-color:#009;
	}
	
	#reportviewer-content .report.Store .header .name {
		background-color:#edb712;
	}
	
	#reportviewer-content .report.Sales .header .name {
		background-color:#895ded;
	}

	#reportviewer-content .report .header aside {
		float:right;
	}
	
		#reportviewer-content .report .header aside .datetime,
		#reportviewer-content .report .header aside .edit {
			float:left;
		}

		#reportviewer-content .report .header aside .editTime {
			display: none;
		}

		#reportviewer-content .report .header aside .editTime .updateDatetime {
			display: inline-block;
			margin-left: 5px;
			padding: 2px 7px;
			background-color: #278cd9;
			color: #fff;
			font-size: 10px;
			cursor: pointer;
		}

		.specialmode #reportviewer-content .report .header aside .datetime {
			display: none;
		}

		.specialmode #reportviewer-content .report .header aside .editTime {
			display: block;
		}

		#reportviewer-content .report .header aside .datetime.sun {
			color:#f96060;
		}
		
		#reportviewer-content .report .header aside .datetime.sat {
			color:#5883c5;
		}
		
		#reportviewer-content .report .header aside .edit {
			display:none;
			position:relative;
			top:-2px;
			margin-left:10px;
			padding:2px 5px;
			border:none;
			background:#666;
			color:#fff;
		}
	
		#reportviewer-content .report .header aside .edit:hover {
			background-color:#888;
		}
		
		#reportviewer-content .report.self .header aside .edit {
			display:block;
		}
	
/*-------------------------------------------------------------------------
	Report Task
/*-----------------------------------------------------------------------*/
#reportviewer-content .report .tasks {
	height:140px;
}

	#reportviewer-content .report .tasks .task {
	}
		
		#reportviewer-content .report .tasks .task .client:after {
			content:" / ";
		}
		
		#reportviewer-content .report .tasks .task .work:after {
			content:" : ";
		}
		
		#reportviewer-content .report .tasks .task .hour:after {
			content:"h";
		}
		
			#reportviewer-content .report .tasks .task span input {
				display:none;
			}
			
			#reportviewer-content .report .tasks .task span.hour input {
				padding:2px 5px;
			}
			
		#reportviewer-content .report .tasks .task button {
			display:none;
			width:14px;
			height:14px;
			border:none;
			background:#aaa;
			color:#fff;
			font-size:8px;
			text-align:center;
			line-height:1;
		}
			
		#reportviewer-content .report .tasks .task .clearTask {
			margin:0 10px;
			background-color:#8cae86;
		}
		
		#reportviewer-content .report .tasks .task .clearTask:hover {
			background-color:#a3c09d;
		}
		
/*-------------------------------------------------------------------------
	Report Totaltime
/*-----------------------------------------------------------------------*/
#reportviewer-content .report .totaltime {
	position:absolute;
	right:10px;
	top:172px;
	padding:2px 5px;
	border:1px solid #aaa;
	background:#fff;
	font-size:8px;
	line-height:1;
}

	#reportviewer-content .report .totaltime span {
		margin-right:2px;
	}

/*-------------------------------------------------------------------------
	Report Add Task
/*-----------------------------------------------------------------------*/
#reportviewer-content .report .addTask {
	display:none;
	margin:0 auto 6px auto;
	padding:2px 10px;
	border:none;
	border-radius:3px;
	background:#bbb;
	color:#fff;
	font-size:10px;
	font-weight:bold;
	line-height:1;
}

#reportviewer-content .report .addTask:hover {
	background-color:#ccc;
}

/*-------------------------------------------------------------------------
	Report Copy Task
/*-----------------------------------------------------------------------*/
#reportviewer-content .report .copyTask {
	display:none;
	overflow:hidden;
	position:absolute;
	right:10px;
	top:168px;
	width:18px;
	height:22px;
	border:none;
	background:url(../img/copy.png) no-repeat left top;
	text-indent:100%;
}

#reportviewer-content .report .copyTask:hover {
	opacity:.8;
}
		
/*-------------------------------------------------------------------------
	Report Note
/*-----------------------------------------------------------------------*/
#reportviewer-content .report .note {
	height:100px;
	padding:5px 0;
	border-top:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
}

	#reportviewer-content .report .note p {
	}

		#reportviewer-content .report .note p textarea {
			display:none;
			width:100%;
			height:94px;
			padding:0;
			border:none;
			font-size:12px;
		}
		
/*-------------------------------------------------------------------------
	Report Image
/*-----------------------------------------------------------------------*/
#reportviewer-content .report .image {
	overflow:hidden;
	height:100px;
	margin-bottom:10px;
	background:#fafafa;
}

#reportviewer-content .report.dragging .image {
	background-color:#d1f1e5;
}

	#reportviewer-content .report .image p,
	#reportviewer-content .report .image figure {
		padding:5px;
	}
	
	#reportviewer-content .report .image p {
		display:none;
		color:#aaa;
		font-size:12px;
	}
	
	#reportviewer-content .report .image figure {
		overflow-y:auto;
		height:90px;
	}
	
		#reportviewer-content .report .image figure span,
		#reportviewer-content .report .image figure span img {
			height:100%;
		}
	
		#reportviewer-content .report .image figure span {
			display:inline-block;
			position:relative;
		}
		
		#reportviewer-content .report .image figure span.hidden {
			display:none;
		}
	
			#reportviewer-content .report .image figure span img {
				width:auto;
			}
			
			#reportviewer-content .report .image figure span .deleteImage {
				display:none;
				position:absolute;
				right:0;
				bottom:0;
				width:14px;
				height:14px;
				border:none;
				background:#8cae86;
				color:#fff;
				font-size:8px;
				text-align:center;
				line-height:0;
			}
		
/*-------------------------------------------------------------------------
	Report Update
/*-----------------------------------------------------------------------*/
#reportviewer-content .report .update {
	display:none;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:30px;
	border:none;
	border-top:1px dashed #ddd;
	background:#eee url(../img/update.png) no-repeat center center;
	color:#aaa;
	font-size:10px;
	letter-spacing:1px;
}

#reportviewer-content .report .update:hover {
	background-color:#d1f1e5;
	color:#555;
}

/*-------------------------------------------------------------------------
	Report Footer
/*-----------------------------------------------------------------------*/		
#reportviewer-content .report .footer {
	position:relative;
	height:35px;
}

	#reportviewer-content .report .footer .star {
		overflow:visible;
		height:16px;
		font-size:8px;
	}
	
		#reportviewer-content .report .footer .star .addStar,
		#reportviewer-content .report .footer .star ul {
			float:left;
		}
	
		#reportviewer-content .report .footer .star .addStar {
			margin-right:5px;
			padding:1px;
			border-radius:3px;
			border:none;
			background:#ef78cf;
			color:#fff;
			font-size:8px;
			letter-spacing:0;
		}
		
		#reportviewer-content .report .footer .star .addStar:hover {
			background-color:#e154bb;
		}
		
		#reportviewer-content .report .footer .star .addStar:after {
			content:"+";
		}
		
		#reportviewer-content .report.stared .footer .star .addStar:after {
			content:"−";
		}
		
		#reportviewer-content .report .footer .star ul {
		}
		
			#reportviewer-content .report .footer .star ul li {
				position:relative;
				float:left;
				height:12px;
				color:#ef78cf;
				cursor:default;
			}
		
				#reportviewer-content .report .footer .star ul li .starName {
					display: none;
					position: absolute;
					top: 100%;
					left: 0;
					width: 70px;
					padding: 5px;
					border: 1px solid #efefef;
					background-color: #fff;
					text-align: center;
					z-index: 1;
				}

				.specialmode #reportviewer-content .report .footer .star ul li:hover .starName {
					display: block;
				}
		
			#reportviewer-content .report .footer .star ul li.mine {
				color:#ffb72b;
			}
			
			#reportviewer-content .report .footer .star ul li.gather {
				margin-right:5px;
			}
	
	#reportviewer-content .report .footer .lastupdate,
	#reportviewer-content .report .footer .archiveReport {
		position:absolute;
	}
	
	#reportviewer-content .report .footer .lastupdate {
		left:0;
		bottom:0;
		color:#ccc;
		font-size:9px;
	}
	
	#reportviewer-content .report .footer .archiveReport {
		display:none;
		right:-5px;
		bottom:0;
		width:14px;
		height:14px;
		border:none;
		background:#8cae86;
		color:#fff;
		text-align:center;
		line-height:0;
	}
	
	#reportviewer-content.new .report .footer .archiveReport {
		display:block;
	}
	
	#reportviewer-content .report .footer .archiveReport:hover {
		background-color:#a3c09d;
	}
			
/*-------------------------------------------------------------------------
	Report Edit Mode
/*-----------------------------------------------------------------------*/
#reportviewer-content .report.edit-mode {
	width:628px;
	border-color:#ccc;
	border-style:dashed;
}

	#reportviewer-content .report.edit-mode .tasks {
		height:120px;
	}

		#reportviewer-content .report.edit-mode .tasks .task {
			margin-bottom:5px;
		}
	
			#reportviewer-content .report.edit-mode .tasks .task .hour:after {
				content:" h";
			}
			
				#reportviewer-content .report.edit-mode .tasks .task span em {
					display:none;
				}
	
				#reportviewer-content .report.edit-mode .tasks .task span input {
					display:inline-block;
				}
			
				#reportviewer-content .report.edit-mode .tasks .task .client input,
				#reportviewer-content .report.edit-mode .tasks .task .work input {
					width:200px;
				}
	
				#reportviewer-content .report.edit-mode .tasks .task .hour input {
					width:40px;
				}
				
			#reportviewer-content .report.edit-mode .tasks .task button {
				display:inline-block;
			}
			
			#reportviewer-content .report.edit-mode .tasks .task:first-child .upTask,
			#reportviewer-content .report.edit-mode .tasks .task:last-child .downTask {
				visibility:hidden;
			}
			
	#reportviewer-content .report.edit-mode[data-id="0"] .totaltime {
		right:36px;
	}
		
	#reportviewer-content .report.edit-mode .addTask {
		display:block;
	}
	
	#reportviewer-content .report.edit-mode[data-id="0"] .copyTask {
		display:block;
	}
				
	#reportviewer-content .report.edit-mode .note p {
		padding:2px 5px;
		border:1px solid #ddd;
		background:#fafafa;
	}
	
		#reportviewer-content .report.edit-mode .note p textarea {
			display:block;
		}
		
		#reportviewer-content .report.edit-mode .note p em {
			display:none;
		}
		
	#reportviewer-content .report.edit-mode .image {
		border:1px solid #ddd;
		cursor:default;
	}
	
		#reportviewer-content .report.edit-mode .image p {
			display:block;
			padding-bottom:0;
		}
		
		#reportviewer-content .report.edit-mode .image figure,
		#reportviewer-content .report.edit-mode .image figure span img {
			height:66px;
		}
		
		#reportviewer-content .report.edit-mode .image figure {
			overflow:hidden;
		}
		
			#reportviewer-content .report.edit-mode .image figure span .deleteImage {
				display:block;
			}
		
	#reportviewer-content .report.edit-mode .update {
		display:block;
	}
	
	#reportviewer-content .report.edit-mode .header aside .edit,
	#reportviewer-content .report.edit-mode .footer {
		display:none;
	}

/*-------------------------------------------------------------------------
	Poster
/*-----------------------------------------------------------------------*/
#poster {
	padding:30px 0;
	text-align:center;
}

	#poster figure {
		margin-bottom:20px;	
	}

	#poster img {
		width:70%;
	}

/*-------------------------------------------------------------------------
	Timeout
/*-----------------------------------------------------------------------*/
#timeout {
	text-align: center;
}

	#timeout img {
		width: 340px;
	}

	#timeout a {
		display: inline-block;
		margin-top: 10px;
		padding: 5px 19px;
		border: 2px solid #ddd;
		background: #fff no-repeat 9px center;
		color: #333;
		font-size: 16px;
	}

	#timeout a:hover {
		background-color: #f2f6fa;
	}
